body{
    background-color: rgb(245, 239, 239);
    
    margin: auto;
}
html {
    font-family: Roboto,Arial,sans-serif;
}

#menufix {
    position: fixed;
    top: 0%;
    width: 100%;
    margin-top: 0%;
}
.navbar1{
    display: inline;
    width: 100%;
    padding: 0 10% 0 10%;
    margin: auto;
    background-color: rgb(221, 229, 226);
}

.logo{
    float: left;
    margin: auto;
}
.menu{
    float: right;
    margin: auto;
}
.premiere{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 80px auto auto auto;
    padding: 40px 0 40px 0;
    background-color: rgb(239, 248, 245);
    color: #00b39b;
    
}
.sigle{
    display: block;
    margin:  auto;
}
.deuxieme{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    width: 80%;
    margin: auto;
    background-color: rgb(239, 248, 245);
    color: black;
    padding: 40px 0 40px 0;
    font-size: 20px;
}
.col-2{
    display: inline;
    width: 40%;
    padding: 0 20px;
}
@media screen and (min-width: 601px){
.troisieme{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    background-color: rgb(245, 252, 250);
    color: black;
    padding: 40px 0 40px 0;
    font-size: 20px;
}

    .col-3{
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        width: 30%;
        padding: 20px 20px 20px 20px;
        background-color: #00ccb1;
        color: aliceblue;
        border-radius: 15px;
        height: 350px;
        margin:0 20px;
    }
    /* .doctor2{
        flex: 3;
    } */
}   
@media screen and (max-width: 600px){
    .troisieme{
        display: flex;
        flex-direction: column;
        align-items:center;
        width: 80%;
        margin: auto;
        background-color: rgb(245, 252, 250);
        color: black;
        padding: 40px 10px 40px 10px;
        font-size: 20px;
    }
    .troisieme >div{
        margin-bottom: 10px;
    }
    .col-3{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: auto;
        height: 300px;
        margin: auto;
        padding: 20px 20px 20px 20px;
        background-color: #00ccb1;
        color: aliceblue;
        border-radius: 15px;
    }
        }
#patient{
    background-color:#00ccb1;
}    
#doctor{
    background-color: #3d83df;
}
#clinic{
    background-color: #747474;
}

select{
    
    background-color: transparent;
    color: aliceblue;
    border: none;
    
}
.main-footer{
    border-top: 1px solid;
    text-align: center;
    margin-bottom: .4em;
    }
footer p{
    margin: 0;
}